.iconWrapper {
  font-size: 1.4rem;
  width: fit-content;
  padding: 13px 20px;
  margin-bottom: 4px;
  cursor: pointer;
  border-radius: 30px;
}

.iconWrapper:hover {
  background: #444;
}

.iconLabel {
  margin-left: 1.2rem;
}
