.Header {
  margin-bottom: 15px;
}

.Container {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.LogoContainer {
  margin-left: 20px;
}

.formWrapper {
  margin-left: 10rem;
  color: white;
  margin-right: 20px;
}

.formWrapper h1 {
  font-size: 4rem;
  margin-bottom: 2.5rem;
  word-break: break-word;
}

.formWrapper h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  width: fit-content;
}

.Form {
  display: flex;
  margin-top: 15px;
  flex-flow: column;
  align-items: center;
  width: 250px;
}

.Form input:focus {
  outline: 2px solid var(--accent);
}

.Form input {
  padding: 10px;
  margin-bottom: 7px;
  border: none;
  border-radius: 3px;
  width: 100%;
}

.Submit {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.Form button {
  height: 35px;
  border: 1px solid var(--primary);
  border-radius: 3px;
  width: 100%;
  background: var(--secondary);
  color: var(--primary);
}

.Form button:hover {
  background: var(--primary);
  color: white;
}

.Link {
  margin-top: 4px;
  color: var(--accent);
}

.Error {
  color: var(--error);
  margin-bottom: 4px;
  font-size: 12px;
}

@media (max-width: 1208px) {
  .Container {
    flex-direction: column;
    justify-content: flex-start;
  }

  .LogoContainer {
    margin-top: 10rem;
    margin-left: 0;
    font-size: 0.6rem;
  }

  .formWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 574px) {
  .formWrapper h1 {
    font-size: 3rem;
  }

  .formWrapper h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .Container {
    justify-content: center;
  }

  .LogoContainer {
    margin-top: 0px;
  }
}
