.postTitle {
  margin-bottom: 10px;
  cursor: auto;
  width: fit-content;
}

.postText {
  margin-bottom: 10px;
  cursor: auto;
  width: fit-content;
}

.postTags {
  display: flex;
  flex-wrap: wrap;
  cursor: auto;
}

.postTags span {
  color: grey;
  margin-right: 6px;
}
