html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-size: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-flex;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.2rem;
}
