@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-15px);
  }
}

.hideCommentSection {
  display: none;
}

.showCommentSection {
  margin-top: 12px;
  border-top: 1px solid #444;
  padding-top: 13px;
}

.hideCommentBox {
  animation: slideOut 0.3s ease-out forwards;
  margin-left: 15px;
  margin-right: 15px;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.showCommentBox {
  animation: slideIn 0.3s ease-out;
  margin-left: 15px;
  margin-right: 15px;
}
