.tag {
  background: #333;
  width: fit-content;
  padding: 8px 13px;
  border-radius: 30px;
  color: #ddd;
  cursor: pointer;
  display: inline-block;
  margin-right: 5px;
  margin-top: 5px;
}

.tagInput {
  resize: none;
  font-size: 0.8rem;
}

.displayContent {
  display: flex;
  align-items: center;
}

.displayText {
  display: inline-block;
  word-break: break-all;
}

.closeIcon {
  margin-left: 10px;
  --icon-color: #666;
}

.closeIcon:hover {
  --icon-color: var(--accent);
}

.displayText:hover {
  color: white;
}
