.searchPanel {
  padding-top: 0.5rem;
  padding-left: 2rem;
}

.searchContainer {
  display: flex;
  align-items: center;
  position: relative;
}

.searchBar {
  width: 100%;
  padding: 15px;
  padding-left: 55px;
  border-radius: 50px;
  background: #333;
  border: none;
  color: white;
  font-size: 1.1rem;
  position: relative;
}

.searchBar:focus {
  background: none;
  outline: 1px solid var(--accent);
}

.searchInputIcon {
  position: absolute;
  left: 20px;
  height: 20px;
  width: 20px;
  pointer-events: none;
  z-index: 2;
}

.searchInputIcon svg {
  stroke: #333;
}
