.newPostContainer {
}

.contentContainer {
  display: flex;
}

.postWrapper {
  margin-left: 15px;
}

.postWrapper input,
textarea {
  background: none;
  border: none;
  outline: none;
  color: white;
  padding: 3px;
}

.postTitle {
  font-size: 1.8rem;
  margin-bottom: 5px;
}

.postTitle::placeholder {
  color: #ddd;
}

.postText {
  font-size: 1.1rem;
  width: 100%;
  resize: none;
}

.buttonContainer {
  display: flex;
  flex-direction: row-reverse;
}

.postButton {
  width: 8rem;
  padding: 0.5rem;
  border-radius: 50px;
  border: 1px solid var(--accent);
  background: var(--secondary-accent);
  color: white;
  font-size: 0.9rem;
  transition: background 0.3s;
}

.postButton:hover {
  background: var(--accent);
}
