.main {
  border-right: 1px solid #444;
  padding-bottom: 50px;
}

.postWrapper {
  width: 100%;
  padding: 10px 20px 15px 5px;
  border-bottom: 1px solid #444;
}

.header {
  font-size: 1.5rem;
  padding: 15px;
}

.backArrow {
  margin-right: 20px;
}

.newComment {
  margin-top: 10px;
}

.commentsSection {
  max-width: 100%;
}

.comment {
  border-bottom: 1px solid #444;
  padding: 20px;
}

.commentAuthor {
  font-weight: 600;
}
.commentHeader {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  margin-bottom: 12px;
}

.userAvatar {
  margin-right: 12px;
}

.postAuthor {
  font-weight: 600;
}
