.postFooter {
  margin-top: 15px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.7rem;
}

.postFooter div {
  --icon-color: grey;
  cursor: pointer;
}

.postFooter div:hover {
  --icon-color: var(--accent);
  transform: scale(1.05);
}

.iconSection {
  display: flex;
  justify-content: center;
}

.iconSection:hover {
  color: var(--accent);
}

.sectionNum {
  margin-left: 5px;
  font-size: 0.9rem;
  color: grey;
  font-weight: 600;
}

.accent {
  color: var(--accent);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
    opacity: 0.5;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

.postFooter .liked {
  --icon-color: var(--accent);
  --icon-fill: var(--accent);
}

.postFooter .likedAnimated {
  animation: pulse 200ms ease;
  animation-iteration-count: 1;
  --icon-color: var(--accent);
  --icon-fill: var(--accent);
}
