.commentInputContainer {
  display: flex;
  flex-direction: column;
  background-color: #2a2a2a;
  border-radius: 12px;
  overflow: hidden;
  padding: 10px 15px;
}

.commentInput {
  background-color: #2a2a2a;
  color: #fff;
  border: none;
  font-size: 1rem;
  resize: none;
  min-height: 1.2rem;
  padding: 0;
}

.commentInput::placeholder {
  color: #888;
}

.commentControls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.commentAddons div {
  margin-right: 10px;
  cursor: pointer;
}

.commentAddons div path {
  --icon-color: grey;
  transition: stroke 0.3s ease, fill 0.3s ease;
}

.commentAddons div:hover path {
  --icon-color: var(--accent);
}

.submitButton {
  background: none;
  border: none;
}

.submitButton div path {
  --icon-color: grey;
  transition: stroke 0.3s ease, fill 0.3s ease;
}

.submitButton div:hover path {
  --icon-color: var(--accent);
}

.commentInput:focus,
.submitButton:focus {
  outline: none;
}
